body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.new-styles{
font-size: 16px;
font-style: italic;
color: red;
}

.otherStyles{
font-size: 17px;
font-style: bold;
color: orange;
}

.eventStyles{
font-size: 14px;
font-style: bold;
color: green;
}

.twowayStyles{
font-size: 14px;
font-style: bold;
color: blue;
}

.my-btn {
  background-color: red;
  color: white;
  border-color: grey;
  width: 80px;
  height: 35px;
  border-radius: 25%;
}

.child-component{

  border: 2px solid black;
  padding: 10px;
  background-color: #ADD8E6;

}

.child-input-bg{
  background-color: #BFEFFF; 
}

.parent-component{

  border: 3px solid #cc0000;
  padding: 5px;
  background-color: #eee;


}

.code{
  font-family: 'Courier New';
  font-size: 11px;
  font-style: bold;

}

.parents-header{
color: salmon;
font-family: 'Verdana';



}

.childs-header{
color: #7A67EE;
font-family: 'Tahoma';

}